body {
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    color: #424244;
}

header {
    width: 30%;
    height: 100vh;
    background: #0909091a;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    font-size: 5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

header h2 {
    font-size: 3em;
}

header p {
    font-size: 1.6em;
    color: #696966;
}

.contact-options {
    list-style-type: none;
    padding: 0;
}

.contact-options li {
    margin: 20px 0;
    color: #696966;
    transition: 0.6s ease-in-out;
    text-decoration: none;
}

.contact-options li,
.link {
    color: #696969;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.contact-options li:hover,
.link:hover {
    padding-left: 15px;
    color: rgb(248, 92, 92);
}

.contact-options li a:visited {
    color: #696969;
}

/* END OF HEADER STYLINGS */

.resume {
    width: 70%;
    box-sizing: border-box;
    padding: 60px;
    margin-left: 30%;
}

.section-heading {
    background: #0909091a;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(248, 92, 92);
}

.resume section {
    display: flex;
    flex-wrap: wrap;
}

.resume section,
.resume section p {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #424242;
/*    font-weight: 400 */
}

.education-main h3, 
.experience-main h3 {
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-weight: 300;
}

#border-bottom {
    width: 45%;
    border-bottom: 2px solid rgb(240, 153, 153);
    padding: 0 0 20px 0;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.skill-list li {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.experience li {
    padding: 10px;
}